@import "./../../colors";

.bookmark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  width: 30%;
  height: 8%;
  border-radius: 20px;
  background-color: $bookmark;
  color: $bookmarkFont;
  padding: 20px;
  margin-left: -30px;
  position: absolute;
  z-index: 9;
  -webkit-animation: 0.7s normal forwards 1 fadein;
  animation: 0.7s normal forwards 1 fadein;
  box-shadow: 0.8px 1.6px 1.6px hsl(0deg 0% 0% / 0.48);

  .title {
    font-size: 35px;
    margin-left: 10px;
    letter-spacing: 5px;
  }
}
.bookmark:hover {
  transform: scale(1.05);
  box-shadow: 1.8px 3.5px 3.5px hsl(0deg 0% 0% / 0.45);
}
.bookmarkRight {
  display: flex;
  justify-content: right;
  margin-right: -20px;
}
.hide {
  margin-left: -80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  height: 8%;
  border-radius: 20px 0px 0px 20px;
  background-color: $bookmark;
  padding: 20px;
  position: absolute;
  z-index: 9;
  color: $bookmarkFont;
  box-shadow: 0.8px 1.6px 1.6px hsl(0deg 0% 0% / 0.48);
}
.hide:hover {
  transform: scale(1.02);
  box-shadow: 1.8px 3.5px 3.5px hsl(0deg 0% 0% / 0.45);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
