@import "./colors";
$starImg: url("./Assets/star.png");

.appHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: hidden !important;
}
.buttonAnimation {
  position: relative;
}
.hide {
  display: none;
}
.bookHide {
  position: absolute;
  margin-top: -32vw;
  left: 7vw;
  height: 25vw;
  width: 25vw;
  animation: growAndDisappear 2s ease-in-out;
}
.star {
  display: flex;
  background-image: $starImg;
  object-fit: scale-down;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vw;
  width: 40vw;
  animation: starAnimation;
}
.book {
  position: absolute;
  margin-top: -32vw;
  left: 7vw;
  height: 25vw;
  width: 25vw;
  animation: pulse infinite 2s linear;
}
.slideOut {
  display: flex;
  background-color: $scroll;
  color: $scrollFont;
  padding: 10px;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .star {
    animation: starAnimation infinite 20s linear;
  }
}

@keyframes starAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes growAndDisappear {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    transform: scale(2);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
