@import "./colors";

.appHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: hidden !important;
}
.book {
  display: flex;
  background-color: $scroll;
  color: $scrollFont;
  padding: 10px;
  animation: bookAnimation;
  border-radius: 10px;
}
.slideOut {
  // transition: translate 0.7s ease-out, overlay 0.7s ease-out,
  //   display 0.7s ease-out allow-discrete;
  // translate: 0 100vh;

  animation: spin-and-delete 0.5s ease-in forwards;
  display: flex;
  background-color: $scroll;
  color: $scrollFont;
  padding: 10px;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .book {
    animation: bookAnimation infinite 20s linear;
  }
}

@keyframes bookAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-and-delete {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(-90deg) scale(1.5);
    color: $scroll;
    opacity: 1;
  }
  100% {
    transform: scale(2);
    color: $scroll;
    opacity: 0;
    display: none;
  }
}
